{% extends 'base.html' %}



{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_new.css')}}">

<title>Add new work</title>
{% endblock %}



{% block body %}
<div class="container">


    <form method="POST" enctype="multipart/form-data" class="container-about">
        <div class="add_new_element element_one">
            <label for="title">{{ data.title_for_form }}:</label>
            <input class="input_one" type="text" id="title" name="title" placeholder="Title" required><br>
        </div>

        <div class="add_new_element">
            <label for="text">{{ data.description }}:</label>
            <textarea class="input_one" id="text" name="text" placeholder="Text" required></textarea><br>
        </div>

        <div class="add_new_element">
            <label for="image">{{ data.image }}:</label>
            <input class="input_one" type="file" id="image" name="image" accept="image/*" required><br>
        </div>

        <div class="add_new_element add_button">
             <input class="add_button_submit" type="submit" value="{{ data.add_painting }}">
        </div>

    </form>


</div>


{% endblock %}