{% extends 'base.html' %}



{% block title %}
<title>{{ data.name }} {{ data.profession }}</title>
{% endblock %}



{% block body %}
<div class="container">
    <img src="../static/img/liza-profile.jpg" alt="Elizaveta Gapanovich">
    <div class="about-container">
        <h6>{{ data.about_me }}</h6>
        <h1>{{ data.home_1_title }}</h1>
        <h2>{{ data.name }}</h2>
        <p id="home_p1">{{ data.home_1_text1 }}</p>
        <p>{{ data.home_1_text2 }}</p>
        <button id="button-1"><a href="/contact">{{ data.home_1_button }}</a></button>
    </div>
</div>

<div class="container">
    <div class="about-container">
        <h2 id="portfolio">{{ data.home_2_title }}</h2>
        <p>{{ data.home_2_text1 }}</p>
        <button  class="button"><a href="/portfolio">{{ data.home_2_button }}</a></button>
    </div>
    <div class="portfolio"></div>
</div>

<div class="container">
    <img src="../static/img/liza-profile-2.jpg" alt="Elizaveta Gapanovich">
    <div class="about-container">
        <h2 id="biography" >{{ data.home_3_title }}</h2>
        <p>{{ data.home_3_text1 }}</p>
        <button class="button"><a href="/biography">{{ data.home_3_button }}</a></button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/intersection-observer@2.0.4/dist/intersection-observer.min.js"></script>


<script src="../static/js/vylet.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/scroll.js"></script>
<script src="../static/js/scroll2.js"></script>
{% endblock %}