{% extends 'base.html' %}



{% block title %}
<title>Elizaveta Gapanovich Artist</title>
{% endblock %}



{% block body %}
<div class="container">
    <img src="../static/img/liza-profile.jpg" alt="Elizaveta Gapanovich">
    <div class="about-container">
        <h6>about me</h6>
        <h1>PROFESSIONAL ARTIST IN POLAND</h1>
        <h2>Elizaveta Gapanovich</h2>
        <p>Hello there! I am currently a student at Białystok University of Technology, studying graphical design. As an artist, I have always been fascinated by the power of visual communication and its ability to convey complex ideas and emotions in a way that words simply cannot.</p>
        <p>My journey as an artist began at a young age, where I would often spend hours lost in my own world, sketching and creating.</p>
        <button>Order a painting</button>
    </div>
</div>

<div class="container">
    <div class="about-container">
        <h2>MY PORTFOLIO</h2>
        <p>Welcome to my portfolio! My name is [your name] and I am a passionate artist currently pursuing my studies. I specialize in painting with acrylics and drawing with pencils, constantly experimenting with different styles and techniques to bring my creations to life. Within my portfolio, you will find a range of my work, from portraits to landscapes and more. I hope that my artwork inspires you and showcases my skills and love for art.</p>
        <button>Show more</button>
    </div>
    <div class="portfolio"></div>
</div>

<div class="container">
    <img src="../static/img/liza-profile-2.jpg" alt="Elizaveta Gapanovich">
    <div class="about-container">
        <h2>BIOGRAPHY</h2>
        <p>Born in [year], [artist name] is a talented young artist with a passion for painting and drawing. She discovered her love for art at a young age and has been honing her skills ever since. Currently, she is a student pursuing a degree in Fine Arts to further develop her talents. Her preferred mediums are acrylic paints and pencils, and she loves to experiment with different styles and techniques. With a promising future ahead of her, [artist name] is sure to make a mark in the art world.</p>
        <button>Learn more about me</button>
    </div>
</div>

<script src="../static/js/app.js"></script>
{% endblock %}