{% extends 'base.html' %}



{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css')}}">
<title>{{ data.name }} {{ data.menu_portfolio }}</title>
{% endblock %}



{% block body %}



<h1 class="portfolio-title">{{ data.name }} - {{ data.my_portfolio }}</h1>
<div class="container-portfolio">
    {% for el in paints %}
    <div class="portfolio-job">
        <h2> {{ el.title}}</h2>
        <h4> {{ el.text}}</h4>
        <img src="{{ el.image }}">
    </div>

    {% endfor %}

</div>
<div class="container-portfolio">
    <a class="add-new-work" href="/add_new">{{ data.add_new_work }}</a>
</div>




{% endblock %}